// Variables personnalisables
$mainBackground: #ebf0f5;
$mainColor: #ffffff;
$navBackground: #0f131f;
$tableBackground: bisque;

body {
	background: $mainBackground;
	line-height: 32px;
	color: $mainColor;
	word-wrap: break-word !important;
	font-family: "Open Sans", sans-serif;
}
a {
	color: #fff;
}
#container {
	margin: 0 auto;
}
nav {
	margin: 50px 0;
	background-color: #0f131f;
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		position: relative;
		li {
			display: inline-block;
			background-color: $navBackground;
			&:hover {
				>ul {
					display: inherit;
				}
			}
		}
	}
	a {
		display: block;
		padding: 0 10px;
		color: #fff;
		font-size: 20px;
		line-height: 60px;
		text-decoration: none;
		&:hover {
			background-color: #5f5c5c;
		}
	}
}
#image {
	height: 450px;
	margin-top: -50px;
}
#image:hover {
	animation: fadeInImg 1s;
}
@keyframes fadeInImg {
	0% { opacity: .8; }
	100% { opacity: 1; }
}
#table {
	border: outset 6px gray;
	background-color: $tableBackground;
	padding: 10px;
	height: 450px;
	width: 732px;
	margin: -47px;
	margin-top: -50px;
}
p {
	color: darkgrey;
	line-height: 2,5;
	font-size: 17px;
}
h6 {
	font-size: 7px;
}
.fa {
	font-size: .5em;
}
footer {
	background-color: grey;
	height: 100px;
	text-align: center;
}
#text_footer {
	padding: 40px;
}
.fade-in-text {
	font-family: Arial;
	font-size: 150px;
	animation: fadeInTxt 5s;
  }
@keyframes fadeInTxt {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@media screen and (max-width: 1400px) {
	#table {
		margin-top: 400px;
	}
	footer {
		margin-top: 45px;
	}
}
@media screen and (min-width: 1870px) {
	#image {
		height: 605px;
	}
	#table {
		height: 605px;
		width: 975px;
	}
}
@media screen and (max-width: 575px) {
	#table {
		width: 675px;
		margin-left: 0;
		margin-top: -5px;
	}
}
